 .dash_int{
    left: 300px;
    top:-636px;
    position: relative;
 }

 .dash_uni{
     left: 860px;
    top: -948px;
    position: relative;
 }

 .dash_single{
     left: 878px;
    top: -1720px;
    position: relative;
 }

 .stud_details{
     left: 388px;
    top: -695px;
    position: relative;
 }
