.Attendance {
  font-family: arial, sans-serif;
  top: -680px;
  left: 600px;
  width: 25cm;
  border: 1px solid rgb(252, 249, 249);
  text-align: center;
  padding: 14px 28px;
  left: 10cm;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.heading{
  top:-712px;
  left:240px;
} 
.buttonclick1{
  color:rgb(13, 1, 1);
  background-color: aliceblue;
  border-radius: 5px;
  width: 100px;
}

.buttonclick1:hover{
  background-color: rgb(117, 192, 232);
}
.buttonclick2 {
  color: rgb(13, 1, 1);
  background-color: aliceblue;
  border-radius: 5px;
  width: 100px;
}

.buttonclick2:hover {
  background-color: rgb(117, 192, 232);
}
.single {
  font-family: arial, sans-serif;
  left: 300px;
  top: -680px;
  width: 25cm;
  border: 1px solid black;
  text-align: center;
  padding: 14px 28px;
  background-color: white;
  position: relative;
}

.single_attendance {
  font-family: arial, sans-serif;
  left: 300px;
  top: -696px;
  width: 25cm;
  border: 1px solid rgb(253, 253, 253);
  text-align: center;
  padding: 10px 28px;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.single_sub {
  font-family: arial, sans-serif;
  left: 265px;
  top: -680px;
  width: 20cm;
  border: 1px solid rgb(247, 245, 245);
  text-align: center;
  padding: 14px 28px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}
.single_sub1 {
  font-family: arial, sans-serif;
  left: 265px;
  top: -680px;
  width: 20cm;
  border: 1px solid rgb(247, 245, 245);
  text-align: center;
  padding: 14px 28px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}


.single_sub2 {
  font-family: arial, sans-serif;
  left: 417px;
  top: -680px;
  width: 20cm;
  border: 1px solid rgb(247, 245, 245);
  text-align: center;
  padding: 14px 28px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}
.single_sub3 {
  font-family: arial, sans-serif;
  left: 417px;
  top: -680px;
  width: 20cm;
  border: 1px solid rgb(247, 245, 245);
  text-align: center;
  padding: 14px 28px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}
.stud_weak {
  font-family: arial, sans-serif;
  left: 1060px;
  top: -1186px;
  width: 10cm;
  border: 1px solid rgb(252, 251, 251);
  text-align: center;
  padding: 14px 28px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}
.stud_weak2 {
  font-family: arial, sans-serif;
  left: 1060px;
  top: -1322px;
  width: 10cm;
  border: 1px solid rgb(252, 251, 251);
  text-align: center;
  padding: 14px 28px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}

.stud_bright {
  font-family: arial, sans-serif;
  left: 1061px;
  top: -1234px;
  width: 10cm;
  border: 1px solid rgb(255, 254, 254);
  text-align: center;
  padding: 14px 28px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}
.stud_bright2 {
  font-family: arial, sans-serif;
  left: 1061px;
  top: -1369px;
  width: 10cm;
  border: 1px solid rgb(255, 254, 254);
  text-align: center;
  padding: 14px 28px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}

tr:nth-child(even) {
  background-color: rgb(224, 240, 255);
}

.row1{
  background-color: rgb(224, 240, 255);
}
.row2 {
  color: rgb(1, 10, 2);
  text-decoration: solid black;
}

.internal {
  font-family: arial, sans-serif;
  width: 25cm;
  top: -714px;
  border: 1.5px solid rgb(253, 252, 252);
  border-collapse: collapse;
  text-align: center;
  padding: 14px 28px;
  left: 10cm;
  position: relative;
}

th,
td {
  padding: 5px;
  text-align: center;
}

