.AT-col.l4{
    width:45.33333%;
    bottom: 1cm;
}

.AT-content{
    margin-left:10cm;
    margin-right:auto;
    max-width:500px;
}

.AT-margin-top{
    margin-top:16px
}


.AT-margin-left{
    margin-left:16px;
}
    
.AT-margin-right{
    margin-right:16px;
}

.AT-row:after,.AT-row:before{
    content:"";
    display:table;
    clear:both
}

.chart{
    bottom:2cm;
    margin-bottom:50px;
}
.AT-card1{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    width:23%;
    left: 223px;
    top:-660px;
    position: relative;
}
.AT-card2{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    width:23%;
    left: 664px;
    top:-900px;
    position: relative;
}
.AT-card3{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    width:23%;
    left: 1087px;
    top:-1139px;
    position: relative;
}
.AT-card4{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    width:23%;
    left: 225px;
    top:-1139px;
    position: relative;
}
.AT-card5{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    width:23%;
    left: 661px;
    top:-1377px;
    position: relative;
}
.AT-card6{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    width:23%;
    left: 1087px;
    top:-1618px;
    position: relative;
}

.AT-margin{
    margin:10px;
    border-radius:10px;
}
.AT-margin-top{
    margin-top:16px;
}

.AT-white{
    color:#000;
    background-color:#fff;
}

.AT-container{
    padding:0.01em 16px;
    border-radius: 15px;
    background-color: white;
    top:250px;left:100px;
}