.card1{
     position: absolute;
    width: 225px;
    height: 189px;
    left: 351px;
    top: 200px;
    display: inline-block;
}
.card2{
     position: absolute;
    width: 225px;
    height: 189px;
    left: 630px;
    top: 200px;
    display: inline-block;
}
.card3{
     position: absolute;
    width: 225px;
    height: 189px;
    left: 910px;
    top: 200px;
    display: inline-block;
}

.card4{
     position: absolute;
    width: 225px;
    height: 189px;
    left: 1200px;
    top: 200px;
    display: inline-block;
}

.card5{
     position: absolute;
    width: 225px;
    height: 189px;
    left: 351px;
    top: 450px;
    display: inline-block;
}
.card6{
     position: absolute;
    width: 225px;
    height: 189px;
    left: 630px;
    top: 450px;
    display: inline-block;
}
.card7{
     position: absolute;
    width: 225px;
    height: 189px;
    left: 910px;
    top: 450px;
    display: inline-block;
}

.card8{
     position: absolute;
    width: 225px;
    height: 189px;
    left: 1200px;
    top: 450px;
    display: inline-block;
}

.cards {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  
}