body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* CARDS */

.cards {
  position: absolute;
  width: 800px;
  height: 400px;
  top: -40px;
  left: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 365px;
  height: 125px;
  display: grid;
  grid-template-rows: 5px 30px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(6, 5, 8, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(77, 4, 245, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__title {
  font-weight: 400;
  color: black;
}

.card__apply {
  grid-row: 2/5;
  align-self: center;
}

/* CARD BACKGROUNDS */
.card-1 {
  background: radial-gradient(white, rgb(255, 254, 254));
}

.card-2 {
  background: radial-gradient(white, rgb(255, 254, 254));
}

.card-3 {
  background: radial-gradient(white, rgb(255, 254, 254));
}

.card-4 {
  background: radial-gradient(white, rgb(255, 254, 254));
}

/* RESPONSIVE */
@media (max-width: 1600px) {
  .cards {
    justify-content: center;
    margin-top: 5cm;
  }
}

.wrapper {

  display: grid;
  grid-template-columns: 400px 400px;
}

.button {
  padding: 2px 5px;
  outline: none;

}

.button:hover {
  background-color: turquoise;
}

.button_s {
  display: inline-block;
  position: absolute;

}