.w3-col.l4{width:66.33333%}
.w3-col.s12{width:66.66666%}

ul{float:right;list-style-type:none;margin-top:10px;}

.w3-card{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}

.w3-margin{margin:10px;border-radius: 10px}.w3-margin-top{margin-top:16px}

.w3-white{color:#000;background-color:#fff}

.w3-container{padding:0.01em 16px;border-radius: 15px;background-color: white;top:250px;left:600px}
.w3-container:after,.w3-container:before,.w3-row:after,.w3-row:before{content:"";display:table;clear:both}

.container {border-radius: 5px;background-color:white;padding: 30px;left:15px;}
.w3-margin-left{margin-left:16px}.w3-margin-right{margin-right:16px}

.w3-row:after,.w3-row:before{content:"";display:table;clear:both}
.w3-row:after,.w3-row:before{content:"";display:table;clear:both}
.chart{bottom:20px;margin-bottom:20px}
