.I1-col.l4{
    width:99.99999%;
    
}

.I1-container:after,.I1-container:before,.I1-row:after,.I1-row:before{
    content:"";
    display:table;
    clear:both;
}

.I1-margin-left{
    margin-left:16px;
}
.I1-margin-right{
    margin-right:16px;
}

.chart{
    bottom:20px;
    margin-bottom:20px;
}
.I1-card{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    width:33.33333%;
    
}
.I1-cardint {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 33.33333%;
    position: relative;
    top: -630px;
    left: 295px;
}

.I1-margin{
     margin-top: 10px;
    border-radius:10px;
}


.I1-white{
    color:#000;
    background-color:#fff;
}

.I1-container{
    padding:0.01em 16px;
    border-radius: 15px;
    background-color: white;
    top:250px;left:100px;
}